form {
    text-align: center;
    border-style: inset;
    border-color: black;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
#nextpage {
    border-radius: 50%;
}
#backpage {
    border-radius: 50%;
}
